$web-font-path: "gfonts/roboto.css";

@import "vendor/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/bootswatch";

body {
    header {
        nav.navbar {
            ul.nav {
                li.navbar-image {
                    a {
                        padding-top: 5px;
                        padding-bottom: 0;

                        img {
                            height: 55px;
                        }
                    }
                }
            }
        }
    }
}

// ###########################################################################################################
// Same Height Rows
//  origin: https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height
// ###########################################################################################################

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}