<!--
Copyright 2017-2019 Jochen Linnemann, Cory Gill

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
@model IEnumerable<Map>

@{
    ViewBag.Title = null;
}

<div class="container">
    <h2>World Map Project</h2>
    <h3>Welcome, Adventurer!</h3>
    <p class="lead">
        Within these pages,
        find your home on the collected maps of the material plane or
        add your own creations to those provided by other scholars.
        Tell your fellow explorers about your travels and your discoveries.
        Share the lore you unveiled during your adventures!
    </p>

    <h3>Newest Maps</h3>
    <div class="row">
        @foreach (var map in Model)
        {
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">@map.Name</h4>
                    </div>
                    <div class="panel-body text-center">
                        <a asp-action="Show" asp-controller="Map" asp-route-id="@map.MapId">
                            <img class="img-responsive img-thumbnail" src="@Url.Content(map.ThumbnailPath)" />
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>